In [1]:
#Using codes 61-72

#STEP 0: IMPORTING LIBRARIES
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
%matplotlib inline
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
import sklearn.metrics as metrics
import os

#STEP 1: LOADING INPUT DIRECTORY
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

#STEP 2: READING CSV FILE
dset = pd.read_csv("/kaggle/input/loan-prediction-based-on-customer-behavior/Training Data.csv")

#STEP 3: SWITCHING TO SHAPED VERSION OF THE CSV
dset.to_csv("DIY Loan Predictor Shaped.csv")
dset = pd.read_csv("/kaggle/working/DIY Loan Predictor Shaped.csv")

#STEP 4: DROPPING UNNECESSARY COLUMNS
dset = dset.drop("Id", axis = 1)
dset = dset.drop("STATE", axis=1)
dset = dset.drop("Unnamed: 0", axis = 1)

#STEP 5: CHECKING FOR NULL VALUES
dset.isnull().sum()

#STEP 6: IDENTIFIYING AND HANDLING UNIQUE VALUES
dset['Married/Single'].unique()
dset['House_Ownership'].unique()
dset['Car_Ownership'].unique()
dset['Profession'].unique()
dset['CITY'].unique()

#STEP 7: ENCODING CATGORICAL VARIABLES INTO NUMERICAL REPRESENTATIONS
enc = LabelEncoder()
catCols = ['Married/Single','House_Ownership','Car_Ownership','Profession','CITY']
for cols in catCols:
    dset[cols] = enc.fit_transform(dset[cols])
    
dset.info()

/kaggle/input/loan-prediction-based-on-customer-behavior/Test Data.csv
/kaggle/input/loan-prediction-based-on-customer-behavior/Training Data.csv
/kaggle/input/loan-prediction-based-on-customer-behavior/Sample Prediction Dataset.csv
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 252000 entries, 0 to 251999
Data columns (total 11 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Income             252000 non-null  int64
 1   Age                252000 non-null  int64
 2   Experience         252000 non-null  int64
 3   Married/Single     252000 non-null  int64
 4   House_Ownership    252000 non-null  int64
 5   Car_Ownership      252000 non-null  int64
 6   Profession         252000 non-null  int64
 7   CITY               252000 non-null  int64
 8   CURRENT_JOB_YRS    252000 non-null  int64
 9   CURRENT_HOUSE_YRS  252000 non-null  int64
 10  Risk_Flag          252000 non-null  int64
dtypes: int64(11)
memory usage: 21.1 MB

In [2]:
#STEP 8: SPLITTING THE RISK FACTOR
Y = dset["Risk_Flag"]
X = dset.drop("Risk_Flag",axis = 1)
X.head()

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS
0,1303834,23,3,1,2,0,33,251,3,13
1,7574516,40,10,1,2,0,43,227,9,13
2,3991815,66,4,0,2,0,47,8,4,10
3,6256451,41,2,1,2,1,43,54,2,12
4,5768871,47,11,1,2,0,11,296,3,14

In [3]:
#STEP 9: LISTING THE RISK FACTOR IN A DATAFRAME
Y=pd.DataFrame(Y)
Y.head()

   Risk_Flag
0          0
1          0
2          0
3          1
4          1

In [4]:
# SPLITTING THE TEST AND THE VALIDATION DATA
X_train_full, X_valid_full, Y_train, Y_valid = train_test_split(X, Y, train_size=0.8, test_size=0.2, random_state=0)
dset.head(20)

,Income,Age,Experience,Married/Single,House_Ownership,Car_Ownership,Profession,CITY,CURRENT_JOB_YRS,CURRENT_HOUSE_YRS,Risk_Flag
0,1303834,23,3,1,2,0,33,251,3,13,0
1,7574516,40,10,1,2,0,43,227,9,13,0
2,3991815,66,4,0,2,0,47,8,4,10,0
3,6256451,41,2,1,2,1,43,54,2,12,1
4,5768871,47,11,1,2,0,11,296,3,14,1
5,6915937,64,0,1,2,0,11,130,0,12,0
6,3954973,58,14,0,2,0,31,299,8,12,0
7,1706172,33,2,1,2,0,20,134,2,14,0
8,7566849,24,17,1,2,1,25,165,11,11,0
9,8964846,23,12,1,2,0,2,149,5,13,0
10,4634680,78,7,1,2,0,25,113,7,12,0
11,6623263,22,4,1,2,0,18,0,4,14,0
12,9120988,28,9,1,2,0,37,91,9,12,0
13,8043880,57,12,1,2,0,23,163,8,10,0
14,9420838,48,6,1,2,0,47,178,6,10,1
15,5694236,39,2,0,2,1,20,21,2,10,0
16,7315840,71,8,0,2,0,0,145,8,14,0
17,3666346,56,12,1,2,0,39,55,12,11,1
18,2241112,28,8,1,2,0,38,274,6,14,0
19,5431918,40,1,1,2,0,4,12,1,14,0